* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --text-color: #fff;
  --primary-color: #000;
  --secondary-color: #ff4545;
  --primary-btn-color: #ff9d3d;
  --secondary-txt-color: #cbdceb;
  --button-color: #37afe1;
  --primarybtn-color: #4cc9fe;
}
