.myblogs-section {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  height: 100%;
  background-color: #ede8dc;
}
.myblogs-container {
  width: 60%;
  margin: 1.5rem auto;
  align-items: center;
  box-shadow: 0 0 4px;
  padding: 1rem;
}

.myblogs-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.2rem;
  color: var(--secondary-color);
}

.authors-info {
  padding-left: 2rem;
  line-height: 1.6;
}

.blogs-sub-heading {
  margin: 1.2rem 0;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 2rem;
  line-height: 1.4;
}

.data-body {
  font-size: 1.2rem;
  padding: 0 3rem;
  margin-bottom: 1.2rem;
}
