.password-update-form {
  margin: 2rem auto;
  padding: 2rem;
}
.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0 6px;
  margin: 2rem 0;
  width: 65rem;
}

.form-label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #000;
}

.form-input {
  display: block;
  font-size: 1.4rem;
  margin: 0.5rem;
  width: 95%;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #333;
}

.input input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 1rem;
  background-color: #636df8;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 95%;
}

.submit-btn:hover {
  background-color: #8f95e9;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}
