.loggin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../../assets/heros.jpg);
}
.login-container {
  width: 70%;
  margin: 2rem auto;
  max-width: 60rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px;
  text-align: center;
}

.login-container h2 {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.inputs-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem 0;
}

label {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: capitalize;
}

input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login-submit {
  margin-top: 1.5rem;
  text-align: center;
}

.login-submit-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  background-color: var(--button-color);
  color: #fff;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
}

button:hover {
  background-color: var(--primarybtn-color);
}

.login-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.login-text a {
  color: #4c9be8;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}
